@font-face {
    font-family: norse;
    src: url("assets/Norse-Bold.otf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    width: calc((1862 / 2792) * 100vh);
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-hold{
    height: 150px;
    width: 100%;
    margin-top: 230px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.527);
    font-family: norse;
    color: white;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 100%;
}

a{
    color: inherit;
}

#credit{
    color: white;
    margin-bottom: 20px;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main > *{
    flex: 1;
    padding-left: 80px;
}

.preface,
.end{
    background-color: rgb(228, 227, 227);
    flex: 1.1;
}

.preface{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    max-width: 56ch;
}

.preface > p:first-child{
    margin-top: 130px;
}

.preface > p:last-child{
    margin-top: auto;
    margin-bottom: 70px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filling{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    font-size: 0.9rem;
    gap: 3px;
    display: flex;
    flex-direction: column;
}

input{
    font: inherit;
    padding: 5px;
    width: 33ch;
    border: #E5E7EB solid 1px;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border: rgb(102, 113, 218) solid 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input:invalid{
    border-color: rgb(206, 124, 124);
}